@import "../color";
@import "../typography";
@import "../breakpoint";

.News {
  position: relative;

  display: flex;

  @include Breakpoint-mobileOnly {
    flex-direction: row-reverse;
  }
}

.News-contentColumn {
  position: relative;

  flex: 1;

  width: 100%;

  @include Breakpoint-mobileOnly {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 60px 0;
  };
}

.News-backgroundColumn {
  flex: 1;

  width: 100%;
}

.News-background {
  width: 100%;
  height: 100%;
}

.News-navigation {
  position: absolute;

  top: 50%;
  left: 0;

  width: 100%;
  height: 100%;

  transform:  translateY(-50%);

  padding: 0 50px;
}

.News-item {
  position: absolute;

  top: 50%;
  left: 0;

  width: 100%;

  padding: 0 100px;

  transform: translateY(-50%);
}

.News-itemTitle {
  margin-bottom: 30px;

  color: $Color-black;
  font-size: 21px;
  font-family: $Typography-font-family-serif;
}

.News-itemDescription {
  margin-bottom: 30px;

  color: $Color-black;
  font-size: 16px;
  font-family: $Typography-font-family-serif;
}

.News-itemDate {
  display: block;

  width: 100%;

  margin-bottom: 15px;

  color: $Color-black;
  font-size: 16px;
  font-family: $Typography-font-family-serif;
  text-align: right;
}

.News-itemLink {
  display: block;

  width: 20px;
  height: 20px;

  margin: 0 auto;

  cursor: pointer;
}
