@import "../../color";
@import "../../typography";
@import "../../breakpoint";

.Calendar {
  position: relative;

  width: 100%;
  height: 100%;

  border: 1px solid $Color-black;
}

.Calendar-navigation {
  
}

.Calendar-content {
  padding: 100px 40px 80px;
}
