@import "../color";
@import "../typography";
@import "../breakpoint";

$Navbar-link-font-size: 18px;
$Navbar-link-spacing-base: 56px;
$Navbar-button-padding-small: 5px;
$Navbar-button-padding-base: 10px;

.Navbar {
  padding: $Navbar-link-spacing-base;

  @include Breakpoint-mobileOnly {
    padding: 20px;
  }
}

.Navbar-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.Navbar-link,
.Navbar-button {
  display: inline-block;

  color: $Color-white;
  font-size: $Navbar-link-font-size;
  font-family: $Typography-font-family-sans;

  &:not(:last-child) {
    margin-right: $Navbar-link-spacing-base;
  }

  @include Breakpoint-mobileOnly {
    display: block;

    margin-right: 0;
    margin-bottom: 20px;

    font-size: 16px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.Navbar-button {
  padding: $Navbar-button-padding-small $Navbar-button-padding-base;

  border: 2px solid $Color-white;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $Color-white;

    color: $Color-black;
  }

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.Navbar-mobileButton {
  display: none;

  @include Breakpoint-mobileOnly {
    display: flex;
    justify-content: flex-end;
  }
}

.Navbar-overlay {
  position: fixed;

  top: 0;
  right: 0;

  transform: translateX(140px);

  width: 140px;
  height: 100vh;

  padding: 100px 20px 20px;

  background-color: rgba(#945252, 0.65);

  text-align: right;

  transition: all 0.3s linear;
}

.Navbar-overlay.is-open {
  transform: translateX(0);
}
