@import "../color";
@import "../typography";

$Hero-spacing-small: 12px;
$Hero-spacing-base: 32px;
$Hero-spacing-xLarge: 150px;

.Hero {
  position: relative;

  width: 100%;
  height: 100%;

  padding-top: $Hero-spacing-xLarge;

  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-image: linear-gradient(296deg, rgba(#945252, 0.67), rgba(#081145, 0.67)),
                    url('./hero-desktop.jpg');

  @media (max-width: 650px) {
    background-image: linear-gradient(296deg, rgba(#945252, 0.67), rgba(#081145, 0.67)),
                      url('./hero.jpg');
  }
}

.Hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: $Hero-spacing-xLarge $Hero-spacing-base * 2;
}

.Hero-title {
  color: $Color-white;
  font-size: 24px;
  font-weight: bold;
  font-family: $Typography-font-family-serif;
}

.Hero-subtitle {
  margin-left: $Hero-spacing-small;
  margin-bottom: 0;

  color: $Color-white;
  font-size: 12px;
  font-family: $Typography-font-family-serif;
}

.Hero-uvp {
  padding-bottom: $Hero-spacing-xLarge / 2;

  color: $Color-white;
  font-family: $Typography-font-family-serif;

  font-size: 9px;
  text-align: center;
}
