:root {
  --color-magenta: #bf0b86;
  --color-dark-royal-blue: #00167c;
  --color-white: #ffffff;
  --color-leather: #ba7635;
  --color-dark-peach: #e66b6b;
  --color-brownish: #945252;
  --color-aqua: #12c5d5;
  --color-dark-green-blue: #18575a;
  --color-black: #000000;
  --color-dark-blue: #121439;
  --color-pinky-red: #50012D;
  --color-grey: #C4C4C4;
}