$Color-magenta: #bf0b86;
$Color-dark-royal-blue: #00167c;
$Color-white: #ffffff;
$Color-leather: #ba7635;
$Color-dark-peach: #e66b6b;
$Color-brownish: #945252;
$Color-aqua: #12c5d5;
$Color-dark-green-blue: #18575a;
$Color-black: #000000;
$Color-dark-blue: #121439;
$Color-pinky-red: #50012D;
$Color-grey: #C4C4C4;
