@import '../../color';
@import '../../typography';
@import '../../breakpoint';

.Event {
  max-width: 840px;

  border: 1px solid $Color-black;

  font-family: $Typography-font-family-sans;

  @include Breakpoint-mobileOnly {
    border: none;
  }
}

.Event-backgroundWrapper {
  position: relative;
}

.Event-background,
.Event-backgroundMobile {
  display: block;

  max-width: 100%;
}

.Event-background {
  display: block;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.Event-backgroundMobile {
  display: none;

  width: 100%;

  @include Breakpoint-mobileOnly {
    display: block;
  }
}

.Event-content {
  position: absolute;

  padding: 60px 70px;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  color: $Color-white;
  font-family: $Typography-font-family-sans;

  @include Breakpoint-mobileOnly {
    top: 50%;

    height: auto;

    transform: translateY(-50%);

    padding: 10px 10px;
  }
}

.Event-mobileContent {
  display: none;

  @include Breakpoint-mobileOnly {
    display: block;

    padding: 0 20px;
  }
}

.Event-date {
  margin-bottom: 25px;

  font-size: 21px;
  line-height: 100%;

  @include Breakpoint-mobileOnly {
    margin-bottom: 5px;

    font-size: 16px;
  }
}

.Event-location {
  margin-bottom: 65px;

  font-size: 16px;
  line-height: 100%;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.Event-locationMobile {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;

  font-size: 16px;

  img {
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 10px;
  }
}

.Event-name {
  padding: 0 60px;
  margin-bottom: 50px;

  font-size: 37px;
  line-height: 100%;
  text-align: center;

  @include Breakpoint-mobileOnly {
    padding: 0 20px;
    margin-bottom: 0px;

    font-size: 21px;
  }
}

.Event-description {
  font-size: 16px;
  font-family: $Typography-font-family-serif;
  line-height: 100%;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.Event-descriptionMobile {
  margin-top: 40px;

  font-size: 14px;
  font-family: $Typography-font-family-serif;
  line-height: 110%;

  text-align: left;
}

.Event-navigation {
  position: absolute;

  top: 0;
  left: 0;

  padding: 0 30px;

  width: 100%;
  height: 100%;

  @include Breakpoint-mobileOnly {
    padding: 0 0px;
  }
}

.Event-link {
  position: absolute;

  display: block;

  left: 50%;
  bottom: 60px;

  transform: translateX(-50%);

  cursor: pointer;

  @include Breakpoint-mobileOnly {
    bottom: -20px;
  }
}
