@import "../color";
@import "../typography";
@import "../breakpoint";

.Agenda {
  position: relative;

  padding: 250px 0;

  @include Breakpoint-mobileOnly {
    padding: 60px 0;
  };
}

.Agenda-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  text-align: center;
}

.Agenda-title {
  position: absolute;

  top: 75px;
  left: 100px;

  color: $Color-black;
  font-size: 38px;
  font-family: $Typography-font-family-sans;
  text-transform: uppercase;

  @include Breakpoint-mobileOnly {
    top: 20px;
    left: 20px;

    font-size: 22px;
  };
}

.Agenda-calendarContainer {
  width: 100%;
  max-width: 400px;

  @include Breakpoint-mobileOnly {
    display: none;
  };
}

.Agenda-eventContainer {
  width: 100%;
  max-width: 840px;
}
