@import "../color";
@import "../typography";

$Agenda-spacing-xsmall: 20px;
$Agenda-spacing-small: 30px;
$Agenda-spacing-base: 40px;
$Agenda-spacing-large: 60px;
$Agenda-box-shadow: 0 13.5px 14.5px 0 rgba(1, 0, 2, 0.35);
$Agenda-gradient: linear-gradient(162deg, $Color-dark-peach, #a13434);

.Agenda {
  padding: 100px $Agenda-spacing-large $Agenda-spacing-large;

  background-image: url('./background.jpg');
}

.Agenda-content {
  position: relative;

  max-width: 720px;

  margin: 0 auto;
  padding: 50px 60px;

  background-image: $Agenda-gradient;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: $Agenda-box-shadow;
}

.Agenda-title {
  margin-bottom: $Agenda-spacing-large;

  color: $Color-dark-peach;
  font-family: $Typography-font-family-sans;
  font-size: 30px;
  letter-spacing: 0.8px;

  text-transform: uppercase;
}

.Agenda-event {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 2;
}

.Agenda-eventDate {
  margin-bottom: 60px;

  color: $Color-white;

  font-size: 18px;
  font-family: $Typography-font-family-sans;
  text-align: center;
}

.Agenda-eventTitle {
  margin-bottom: 50px;

  color: $Color-white;

  font-family: $Typography-font-family-sans;
  font-size: 22px;
  text-align: center;
}

.Agenda-eventDescription {
  margin-bottom: 120px;

  color: $Color-white;

  font-family: $Typography-font-family-serif;
  font-size: 15px;
	text-align: center;
  line-height: 2.0;
}

.Agenda-eventLocation {
  font-family: $Typography-font-family-sans;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $Color-white;
}

.Agenda-action {
  width: 720px - ($Agenda-spacing-base * 2);

  margin: 0 auto;
  padding: $Agenda-spacing-xsmall 0;

  background-color: #f4f4f4;

  text-align: center;
  font-family: $Typography-font-family-sans;
  font-size: 18px;
  color: #643243;

  cursor: pointer;
}