@import "../color";
@import "../typography";
@import "../breakpoint";

.News {
  position: relative;
  min-height: 500px;

  display: flex;

  @include Breakpoint-mobileOnly {
    flex-direction: row-reverse;

    border-top: 1px solid $Color-black;
  }
}

.News-title {
  position: absolute;

  top: 100px;
  left: 100px;

  font-size: 38px;
  font-family: $Typography-font-family-sans;
  color: $Color-black;
  text-transform: uppercase;

  @include Breakpoint-mobileOnly {
    top: 20px;
    left: 20px;

    font-size: 22px;
  }
}

.News-pagination {
  position: absolute;

  display: flex;
  justify-content: center;
  gap: 12px;

  bottom: 65px;
  left: 50%;

  transform: translateX(-50%);

  @include Breakpoint-mobileOnly {
    bottom: 20px;
    gap: 8px;
  }
}

.News-paginationItem {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  background-color: $Color-grey;

  transition: all 0.3s linear;

  cursor: pointer;

  @include Breakpoint-mobileOnly {
    width: 8px;
    height: 8px;
  }
}

.News-paginationItem.is-active {
  background-color: $Color-pinky-red;
}

.News-contentColumn {
  position: relative;

  flex: 1;

  width: 100%;

  @include Breakpoint-mobileOnly {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.News-backgroundColumn {
  flex: 1;

  width: 100%;

  @include Breakpoint-mobileOnly {
    padding: 60px 0;
  }
}

.News-background {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.News-backgroundMobile {
  display: none;

  width: 100%;
  height: 100%;
  object-fit: cover;

  @include Breakpoint-mobileOnly {
    display: block;
  }
}

.News-navigation {
  position: absolute;

  top: 50%;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(-50%);

  padding: 0 50px;

  @include Breakpoint-mobileOnly {
    padding: 0 10px;
  }
}

.News-item {
  position: absolute;

  top: 50%;
  left: 50%;

  width: calc(100% - 200px);

  transform: translate(-50%, -50%);

  z-index: 1;

  @include Breakpoint-mobileOnly {
    width: calc(100% - 80px);

    z-index: 0;
  }
}

.News-itemTitle {
  margin-bottom: 30px;

  color: $Color-black;
  font-size: 21px;
  font-family: $Typography-font-family-serif;

  @include Breakpoint-mobileOnly {
    font-size: 14px;
    color: $Color-white;
  }
}

.News-itemDescription {
  margin-bottom: 30px;

  color: $Color-black;
  font-size: 16px;
  font-family: $Typography-font-family-serif;

  @include Breakpoint-mobileOnly {
    font-size: 12px;
    color: $Color-white;
  }
}

.News-itemDate {
  display: block;

  width: 100%;

  margin-bottom: 15px;

  color: $Color-black;
  font-size: 16px;
  font-family: $Typography-font-family-serif;
  text-align: right;

  @include Breakpoint-mobileOnly {
    font-size: 12px;
    color: $Color-white;
  }
}

.News-itemLink {
  display: block;

  width: 20px;
  height: 20px;

  margin: 20px auto 0;

  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    filter: invert(1);

    @include Breakpoint-mobileOnly {
      filter: none;
    }
  }
}
